
/*Основні*/
:root{
    --bgrd:#2E2F42;
    --active-color:#404BBF; 
    --iris:#4D5AE5;
    --cloud:#F4F4FD;
    --slate:#434455;
    --ocean:#404BBF;
    --cornflower:#E7E9FC;
    --main: #FFFFFF;
--light-state:#8E8F99;
--green:#31D0AA;
--modal: #fcfcfc; 
--lightslate:#8E8F99; 
}

.section{width: 100%;}

*{box-sizing: border-box;}

 /* Cховати*/
.visually-hidden {
            position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            margin: -1px;
        }
    
/* Cховати перелік*/
.hidden-dot {
 list-style-type: none; gap: 24px;}

 /*Контейнер*/
 .container-header {display: flex;

    margin: 0px;
    padding: 24px 15px;
    justify-content: center;
    align-items: center;
    
       
 }
 .container {
                    width: 100%;
                    margin: 0 auto;
            
                }


    
/*Хедер*/




/*Основна інформація*/
.body-font {
    font-family:roboto,sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
}

/*Секція 1*/




/*Кнопка*/

.button-style {
    font-family:inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--iris);
        color: var(--main);
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        
        
}


/*Секція 2*/

.doing-head { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    padding: 0;
    margin:0;
    margin-bottom: 72px;
}
.section {padding-left: 56px; padding-right: 56px;}

.doing-card {text-align: center;list-style-type: none; flex-basis: calc((1128-24*2)/3);}
.header-theme {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
color: var(--bgrd);
margin: 0;
padding: 0;
margin-bottom: 8px;
margin-top: 8px;

}

.theme-content {
    font-family: roboto, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
}
.flexbox {padding: 120px 0;
margin: 0;}
.style-sec {display: flex;
    gap: 24px;
   
    padding:0;
margin: 0;}
.flexboxsec {
  padding-bottom: 120px;
}




/*Секція 3*/
.title-theme {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
margin-bottom: 72px;}

.team-theme {
    background-color: var(--cloud); min-width: 320px;

}


.card-theme
{
background: var(--main);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    list-style-type: none;
    flex-basis: calc((1128-3*24)/4);
   
}

.soc-list {display: flex;
justify-content: center;
padding: 0;
margin: 0;
margin-top: 8px;
gap: 24px;}

.soc-item {width: 40px;height: 40px; list-style-type: none;} 

.card-link {width: 100%;
height: 100%;
border-radius: 50%; 
display: block;
background-color: var(--iris);
display: flex;
justify-content: center;
align-items: center;
transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
}
.theme-names { font-family: roboto,sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }

        .theme-name {font-family:roboto,sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            margin-top:0; margin-bottom:  8px;}
    .doing-content {
        font-family: roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.02em;
    margin-bottom: 0px;
margin-top: 8px; border-radius: 0px 0px 4px 4px;
    }

    /*Portfolio*/
    .portfolio-body {
        font-family:roboto,sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--bgrd);  }
    
                        .portfolio-buttons {margin-bottom: 72px;}

    .portfolio-button {
        font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            background-color: var(--cloud);
            border: 1px solid --cornflower; border-radius: 4; 
        color: var(--iris);
    padding: 12px 24px;
border: none; border-radius: 4px;
transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;}

                .portfolio-button:hover,
                .portfolio-button:focus,
                .portfolio-button.current {
                    background-color: var(--active-color);
                    color: var(--main);
                    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
                animation: pulse 2s infinite;}

                .porf-pad { padding-top: 96px; padding-bottom: 120px;}

 .portfolio-card {background:var(--main);}
 .card-content {
    font-family:roboto,sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--slate); 
        padding: 0;
        margin: 0;
        margin-top: 8px;}
      
.portfolio-card:nth-last-child(-n+3) {margin-bottom: 0px;}

/*Підвал*/
.footer-title {
    font-family:Raleway,sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--cloud);
        text-decoration: none;
        margin-bottom: 17px;
        
}
.footer-body {margin:0;
color: var(--cornflower);
width: 264px;}

.footer-title span 
{color: var(--iris);}

.footer-dv {display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.porfolio-flex {display:flex; flex-wrap:wrap; gap: 48px 24px; width:100%;}
.footer-style {
width:100%; margin-left: auto;margin-right: auto; background-color: var(--bgrd); padding: 96px 0;}
.hidden-porf {list-style-type: none; padding: 0; margin: 0;}
.card-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 8px; 
}
.card-div {padding: 32px 0; text-align: center;}
.porf-div {
    padding: 32px 0 32px 16px;
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid var(--cornflower);}

  /*========== Спрайти=========*/  

.soc-list {fill: var(--main);}
.icon-item {width: 64px;
    height: 64px;
 }
.use-icon { }

 

    .card{display: block;}
    .card:hover,
        .card:focus,
                .card.current{display: block;box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

    .foot-link {width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
        background-color: rgba(255, 255, 255, 0.1);;
        display: flex;
        justify-content: center;
        align-items: center;
    transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;}

        .footer-div {display: flex; 
            
    }
        .second-div {margin: 0; padding: 0; margin-bottom: 72px;}
        .soc-media {color: var(--main);margin: 0;
        padding: 0; margin-bottom: 16px;
        font-family: roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;}
.cus-div {max-width: 1140px;
    margin: 0;
padding: 0;
padding-top: 130px;
padding-bottom: 120px;
margin-left: auto;
margin-right: auto;}







 .href-cus {   width: 100%;
    height: 100%;
    display: block;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;}
.icon-svg {}

.card-link:focus,
.card-link:hover,
.card-link.current { width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    background-color: var(--ocean);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
transform: skew(-0.06turn, 18deg);;
    }


foot-link {transition: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 250ms;}

.foot-link:focus,
.foot-link:hover,
.foot-link.current {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: rotate(180deg);}

.cus-link:focus,
.cus-link:hover,
.cus-link.current {
border: 1px solid var(--ocean);
    border-radius: 4px;
    color: var(--ocean);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: var(--ocean);
      transform: rotate(180deg);
}

.icon-svg { fill: var(--light-state);}

.icon-svg:focus,
.icon-svg:hover,
.icon-svg.current {
    fill: var(--ocean);
    transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
}

.img {display: block;max-width: 100%; height: auto;}
.fleximg {display: block;}

.customers {padding: 96px 0;}


.button-style:focus,
.button-style:hover,
.button-style.current {font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--ocean);
    color: var(--main);
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
cursor: pointer;
transition-property: all;
animation-iteration-count: infinite;
transition: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration:  250ms;

}

.cover-text {
    padding: 40px 32px 164px 32px;
    margin: 0;
    position: absolute;
    top:0%;
font-family: roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
color: var(--cloud);
background-color: var(--ocean);
height: 100%;
transform: translateY(100%);
transition: transform 250ms linear;
overflow: auto;

}

.cover-div {position: relative;overflow: hidden;}

.portfolio-card:hover .cover-text
{transform: translateY(0);transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.backdrop {position: fixed;
top:0;
width: 100%;
height: 100%;
background-color: #43445571;
transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;}

.modal {
    width: 408px;
    min-height: 576px;
    background-color: var(--modal);
    border-radius: 4px;
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 72px 24px 24px 24px;

     
}

.modal-close { width: 24px;
height:24px;
background: #E7E9FC;
border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
   position: absolute;
    top: 24px;
    left: 360px;
        display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close:focus,
.modal-close:hover,
.modal-close.current {background-color: var(--ocean); fill: var(--main);cursor: pointer;}
 

.modal-close:focus .icon-close,
.modal-close:hover .icon-close {stroke: var(--main); fill:var(--main); cursor: pointer;}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

label {
  margin-bottom: 8px;}

.input {

  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%; height: 40px;
padding-left: 35px;
}
.input:focus,
.input:hover,
.input.current {border-color: var(--iris);}


.comment {
  font-family: inherit;

  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%; height: 120px;resize: none;
padding-left: 16px;
padding-top: 8px;}
.text {font-family:roboto,sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
 margin: 0;
  padding: 0;
margin-bottom: 24px;}
   


.sb-dv {font-family:roboto,sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;}

.submit-button{
    display: flex;
    background-color: var(--iris);
    color: var(--main);
font-family:inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--iris);
        color: var(--main);
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
margin-top: 24px;
margin-left: auto;
margin-right: auto;
min-width: 169px;
justify-content: center;}

.span {color: var(--lightslate);
font-family: roboto, sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.01em;
}


.modal-form-check {border: 1.25px solid #2E2F42;
border-radius: 2px;
color: #757575;

}

.modal-form-check-desc {display: flex;
align-items: center;
font-family: roboto, sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.01em;
}

.modal-form-check-desc::before {
    content: '' ;
    display: block;
    width: 16px;
height: 16px;
border: 1.25px solid var(--bgrd);
border-radius: 2px;
resize: none;
cursor: pointer;
margin-right: 8px;

}

.modal-form-check:checked+.modal-form-check-desc::before {background-color: var(--iris); border-color: var(--iris);
background-image: url(../image/Vector-8.svg);
background-size: contain;
background-repeat: no-repeat;}

.modal-form-check:focus+.modal-form-check-desc::before {outline: 1.25px solid var(--iris);
}


.sub-footer {
    margin: 0;
    color:var(--main);
font-family: roboto,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;}
.f-mail {background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
height: 40px;
width: 90%;
padding: 8px 0px 8px 16px;
color: var(--main);}


.subs {display:flex;
    margin:0;
    padding: 0%;
    margin-top: 16px;
gap: 16px;font-family:roboto,sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;}

.submit-footer{border-color: transparent;
    color: var(--main);
display: flex;
margin-left: auto;
margin-right: auto;
letter-spacing: 0.04em;
background-color: var(--iris);

border-radius: 4px;
padding: 8px 24px;
gap: 16px;}

.span-first{
    margin-top: 24px;
    color: var(--lightslate);
font-family: roboto, sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.01em;
}

::placeholder {font-family: roboto, sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: rgba(117, 117, 117, 0.5);
}

.div-lab {position: relative;margin-bottom: 8px;}
.modal-icon {position: absolute;
top: 14px;
bottom: 14px;
left: 19px;}

.div-lab:focus,
.div-lab:hover,
.div-lab.current {fill:var(--iris);
};

.wow {margin-top:16px}
.div-chbx {font-family: roboto,sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
padding: 0%;
margin: 0%;
margin-top: 16px;}

/*=========Adaptation===========*/



/*=========Header========*/

.header {
    box-sizing: border-box;    
    text-decoration: none;
    background-color:var(--main); 
    display: flex;
border-bottom: 1px solid #E7E9FC;}

    .header-box {display: flex; padding: 24px 0;}
    .header-contacts {display: flex; margin-left: 175px; padding-right: 56px;}
    
.flex-header {display: flex;}
        .header-title {
            font-family: Raleway, sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--bgrd);
            text-decoration: none;
            margin-right: 76px;
          
        
        }
    
        .header-title span {
            color: var(--iris);
        }

        .nav-link-list {display: flex;
            padding: 0;
            margin: 0;
        list-style-type: none;
            gap: 40px;
            transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        }

/*Навігація*/
    .nav-link {
        text-decoration: none;
        color: var(--bgrd);
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            display: block;
            padding: 24px 0;
}
.nav-link.current {border-bottom: 4px solid var(--ocean);}
        .nav-link:hover,
        .nav-link:focus,
        .nav-link.current {
            color: var(--active-color);
            transform: scale(1);
  animation: pulse 2s infinite;
}

/*======Анімація====*/

@keyframes pulse {
  0% {
    transform: scale(0.95);
  
  }
  
  70% {
    transform: scale(1);
   
  }
  
  100% {
    transform: scale(0.95);
   
  }
}
           
.address {margin-left: auto;}
.contacts-list {display: flex;
            list-style-type: none;
                margin-top: 0;
                    margin-bottom: 0;
                       padding: 24px 0;
          
        }
    .contacts {
        text-decoration: none;
        color: var(--slate);
        font-weight: 400;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.02em;
            display: block;
         }
       
.contacts:hover,
.contacts:focus {
    color: var(--active-color);
    transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

/*=========Hero==========*/

.bgrd {
    width:100%;
    background-color: var(--bgrd); 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/dark-bg2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    padding: 188px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;}


.main-title
{ font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.07;
    display: flex;
color: var(--main); 
margin:0;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;}

   
/*=======Section 1=========*/

   .icon-list-svg {width: 100%;
height: 100%;
border-radius: 50%; 
display: block;
background-color: var(--iris);
display: flex;
justify-content: center;
align-items: center;}
.icon-list-sec {background-color: var(--cloud);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;}

/*=======Section 2=========*/



/*=======Section 3=========*/

.flexcard {display: flex;
    gap: 72px;
    padding: 0;
margin: 0;}

/*=======Section 4=========*/

.cus-ul {display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 24px;
  
}

.cus-link { width: 168px;
height: 88px;
border: 1px solid var(--light-state);
    border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*========Footer=========*/

/*======Portfolio======*/

/*=====Portfolio buttons==========*/

.flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    margin-bottom: 72px;
}


/*======Portfolio cards======*/


.contact-div {margin-bottom: 48px;}


.mobile-menu{
 position: fixed;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--main);
 z-index: 1000;
 padding: 80px 40px 40px 40px ;

 opacity: 0;
 visibility: hidden;
 pointer-events: nones;
 }

 .mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}