

/*Основні*/
:root{
    --bgrd:#2E2F42;
    --active-color:#404BBF; 
    --iris:#4D5AE5;
    --cloud:#F4F4FD;
    --slate:#434455;
    --ocean:#404BBF;
    --cornflower:#E7E9FC;
    --main: #FFFFFF;
--light-state:#8E8F99;
--green:#31D0AA;
--modal: #fcfcfc; 
--lightslate:#8E8F99; 
}




    /*=========Adaptation===========*/

    /* Cховати*/
.visually-hidden {
            position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            margin: -1px;
        }
    
/* Cховати перелік*/
.hidden-dot {
 list-style-type: none; gap: 24px;}

 @media screen and (min-width:768px) and (max-width:1199px) {


  /*=================Контейнер============*/
 .container {
                    width: 768px;
                    margin: 0 auto;
                    padding: 0 15px;
                }
   

    .section{width: 736px;}

/*=========Header========*/

    .container-header {display: flex;
width: 736px;
margin: 0 auto;
padding: 0 15px;}     

.header {
    box-sizing: border-box;    
    text-decoration: none;
    background-color:var(--main); 
    display: flex;
border-bottom: 1px solid #E7E9FC;}

.header-contacts {display: flex; margin-left: 175px; padding-right: 56px;}

.nav-link-list {display: flex;
            padding: 0;
            margin: 0;
        list-style-type: none;
            gap: 40px;
            transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        }

   .contacts-list {display: flex;
        flex-direction: column;
            list-style-type: none;
                margin-top: 0;
                    margin-bottom: 0;
                padding: 24px 0 12px 0;}   
                    
        .contacts{text-decoration: none;
        color: var(--slate);
        font-weight: 400;
            font-size: 12px;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.02em;
            display: block;
         }
 /*=========Hero==========*/
        .bgrd {
    width: 768px;
    background-color: var(--bgrd); 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/dark-bg3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    padding: 188px 0;
    text-align: center;
    margin-left: auto;}
    
    .main-title
{ font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    display: flex;
color: var(--main); 
width: 494px;
margin:0;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
        
    }

    .mobile-menu {display: none;}
        
    .mobile-menu-open {display:none;}
/*=======Section 1=========*/


.flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
   width: calc((768-1*24)/2);
}
  
.icon-list-sec {
    display: none;}

    .tabl-con{    display: flex;
    flex-wrap: wrap;
}

/*=======Section 2=========*/

.flexboxsec {display: none;} 

/*=======Section 3=========*/

.flexcard {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

/*=======Section 4=========*/
.cus-ul {display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 96px;
    gap: 24px;
  
}

.cus-link { width: 168px;
height: 88px;
border: 1px solid var(--light-state);
    border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 72px;
}

/*========Footer=========*/
.footer-style {
width: 768px; margin-left: auto;margin-right: auto; background-color: var(--bgrd); padding: 96px 108px;}

.footer-dv {display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 72px;
    margin-right: 24px;
}

.footer-div {display: flex; 
    flex-wrap: wrap;}



/*======Portfolio======*/


/*=====Portfolio buttons==========*/

.portfolio-button {
        font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            background-color: var(--cloud);
            border: 1px solid --cornflower; border-radius: 4; 
        color: var(--iris);
    padding: 12px 24px;
border: none; border-radius: 4px;
transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;}

.flex-but {display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
padding: 0;
margin: 0;
margin-bottom: 72px;
flex-basis: calc((396px-24px)/2);
}
/*======Portfolio cards======*/

.porfolio-flex {display:flex; flex-wrap:wrap; gap: 48px 24px; width:calc((767px-24px)/2) }


}


/*=========2x==========*/

    @media screen and(min-device-pixel-ratio:2) and (min-width:768px) and (max-width:1199px), 
    screen and (min-resolution:192dpi) and (min-width:768px) and (max-width:1199px), screen and 
    (min-resolution:2ddpx) and (min-width:768px) and (max-width:1199px) {

        /*=========Hero==========*/

        .bgrd {
    width: 768px;
    background-color: var(--bgrd); 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    padding: 188px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;}
        

    .porfolio-flex {display:flex; flex-wrap:wrap; gap: 48px 24px; width:calc((767px-24px)/2) }

    }